@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,


tr {
  border: 1px solid lightgray;
}

td {
  padding: 20px;
}

ul li::before {
  content: "- ";
  margin-right: 5px;
}


